<h1>Hey ! Veuillez confirmer votre adresse e-mail :</h1>

<p>
    Merci de confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
    Le lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt !
</p>
