{% extends 'base.html.twig' %}

{% block title %}Envoi de réinitialisation de votre mot de passe{% endblock %}

{% block body %}
    <p>
        Si votre adresse e-mail est enregistré dans la base de donnée, un e-mail vient de vous être envoyé pour réinitialiser votre mot de passe.
        Le lien expire {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez pas reçu de mail, vérifier dans vos spams ou courriers indésirables <a href="{{ path('app_forgot_password_request') }}">Nouvel envoi</a>.</p>
{% endblock %}
